# {{ ansible_managed }}

server {
        listen 80;
        listen [::]:80;

        server_name gitlab.{{ domain_name }};

        include snippets/dehydrated.include;

        location  / {
            if ($scheme = http) {
                return 301 https://gitlab.{{ domain_name }}$request_uri;
            }
        }
        access_log  /var/log/nginx/gitlab.{{ domain_name }}.access.log;
        error_log /var/log/nginx/gitlab.{{ domain_name }}.error.log;

}

